# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

.vscode/*
gibo 2.2.4 by Simon Whitaker <sw@netcetera.org>
https://github.com/simonwhitaker/gibo
